body{
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #7E1717;
    margin: 0;
    }

.intro{
    display: flex;
    flex: auto;
    background-color: #068DA9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px;
    flex-wrap: wrap;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: #ECF8F9;
    font-weight: bold;
    font-size: 38px;
}

a, p{
    text-decoration: none;
    color: #ECF8F9;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display:flex;
}

.right-header{
    display: flex;
    padding: 8px;
}

.logo{
    display: flex;
    padding: 8px;
    flex-shrink: 0;
}

li{
    padding: 8px;
}

.food-image{
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.intro-blurb{
    width: 500px;
    text-align: right;
}

.image{
    width: 600px;
    height: auto;
    border-radius: 25px;
}

.button{
    background-color:  #ECF8F9;
    border-radius:10px;
    font-family: 'Roboto', sans-serif;
    color: #068DA9;
    font-weight: bold;
    width: 120px;
    height: 50px;
    font-size: 20px;
    padding: 10px; 
    border: 0px;
    will-change: opacity; 
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    margin-top: 16px;
}

.button:hover {
    background-color: #068DA9;
    color: #ECF8F9;
    transition: 0.7s;
}

.cards{
    display: flex;
    flex: auto;
    background-color: #ECF8F9;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding: 120px 30px 100px 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card{
    display:flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    height: 75%;
    width: 15%;
    justify-content: flex-start;
    gap: 24px;
    flex-shrink: 0;
    min-width: 175px;
}

.card h1,
.card p{
    color: #E55807;
    text-align: center;
}

i{
    color:#068DA9;
    padding-top: 24px;
}

i:hover {
    color: #7E1717;
    transition: 0.5s;
}

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E55807;
    padding: 40px;
}

.testimonials h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    color: #7E1717;
}

.testimonal-text-div{
    width: 75%;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #7E1717;
}

.profile-img{
    border-radius: 100%;
    height: 150px;
    width:auto;
    flex-shrink: 0;
}

.call-to-action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ECF8F9;
    flex: auto;
}

.sign-up-blurb{
    background-color: #068DA9;
    border-radius: 5%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    flex: 0 0 auto;
    gap: 40px;
    padding: 60px;
    margin: 60px;
    flex-wrap: wrap;
}

.sign-up-blurb h3{
    color: #ECF8F9;
}

.sign-up-blurb-text{
    display: flex;
    flex-direction: column;
    flex:auto;
    min-width: 150px;
    width: 600px;
    height: 300px; 
}

.sign-up-button{
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300 px;
    height: auto;
}

.sign-up-button i{
    color:#ECF8F9
}